 <h1> credits</h1>
    <div class="credits-wrap">
        <div class="credits role"> 
            <ul>
                <li> JOHNNY </li>
                <li> WOLFE </li>
                <li> ANGELIKA </li>
                <li> LITTLE JOHNNY </li>
                <li> </li>
                <li> DIR. + PRODUCER </li> 
                <li> WRITER + PRODUCER </li> 
                <li> DOP. </li> 
                <li> 1st AD + PRODUCER</li> 
                <li>ART DIRECTOR</li> 
                <li>EDITOR</li> 
                <li>CAMERA OPERATOR</li> 
                <li>2nd AD</li> 
                <li>GAFFER</li> 
                <li>COMPOSER</li> 
                <li>CONSTRUCTION COORDINATOR</li> 
            </ul> 
        </div>
        <div class="credits name">
            <ul>
                <li>ADAM MARKS</li>
                <li>MARLON DANCE-HOOI</li>
                <li>CHANIKA DESILVA</li>
                <li>VERRON</li>
                <li> </li>
                <li>JEREMY ARIMADO</li> 
                <li>JOEL PERLGUT</li> 
                <li>YIANI ANDRIKIDIS</li> 
                <li>JIMMY ADAIR</li> 
                <li>ANGELA MCCORMACK</li> 
                <li>SEAN WILL</li> `
                <li>FERGUS WILSON</li> 
                <li>DAVID MA</li> 
                <li>HAMILTON</li> 
                <li>CAMPBELL BYRNE</li> 
                <li>BEN HANSEN</li> 
            </ul>
        </div>
    </div>